/* TODO: Create module level scss files for organization. */
.product-heading {
  font-size: 1.7em;
  text-align: center;
}

.layout-container {
  width: 95%;
  margin: 0 auto;
  max-width: 1600px;
}
